<%= form_for ([diabetic,record]) do |f| %>
  <p> Weight: <%= f.text_field :weight %> </p>
  <p>Glucose: <%= f.text_field :glucose %> </p>
  <p>Comments: <%= f.text_area :comment %> </p>
  <p> Date Taken: <%= f.datetime_select :taken_at, ampm: true, minute_step: 5 %> </p>
  <%= f.submit %>
<% end %>

