<p><%= Welcome, @diabetic.name %></p>
<h3> Here are your most recent records </h3>
<%= @records.each_with_index do |record, index| %>
  <%= index %>
  <span>
    <%= record.taken_at %>
<<<<<<< HEAD

    <%= record.weight if record.weight.present? %>

=======
    <%= record.weight if record.weight.present? %>
>>>>>>> 1d77a2dbbcb3ebd063e7fa2b48dd8a5a642a4056
    <%= record.glucose if record.glucose.present? %>
  </span>
<% end  %>
