<div class="container">

  <div class="heading">
    <h1>Enter your Doctor's info</h1>
  </div>
  <!-- move this form into a partial and use it in new and edit -->
  <%= form_for [@diabetic, @doctor] do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name, :required => true %><br><br>
    <%= f.label :fax %><br>
    <%= f.text_field :fax, :required => true %><br><br>
    <%= f.label :email %><br>
    <%= f.email_field :email %><br><br>
    <%= f.label :comments %><br>
    <%= f.text_area :comments %><br><br>
    <%= submit_tag("Save Doctor") %>
  <% end %>

</div>
