<h2>Hi, this is the show Doctor page</h2>

  <h3>Name</h3>
  <%= @doctor.name %><br>
  <h3>Fax</h3>
  <%= @doctor.fax %><br>
  <h3>Email</h3>
  <%= @doctor.email %><br>
  <h3>Comments</h3>
  <%= @doctor.comments %><br>

 <span><%= link_to 'Edit', edit_diabetic_doctor_path(@diabetic,@doctor) %></span>
